<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eclipse.paho.android.service"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>

        <!-- Mqtt Service -->
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>
